
html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: fixed;
    height: 100%;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
}

#searchbar {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #d3d3d3;
    float: left;
}

#searchResults {
    font-size: 1.35rem;
    margin: 5px;
    padding-left: 5px;
}

#logoContainer {
    position: absolute;
    bottom: 0;
    left: 0
}

input[type=text] {
    height: 5%;
    width: 94%;
    font-size: 1.35rem;
    margin: 5px;
    padding-left: 5px;
}
